@import 'config';
@import 'home';
@import url('https://fonts.googleapis.com/css?family=Roboto:700');


body {
  margin: 0;
  font-family: 'roboto';
  text-align: center;
  width: 100vw;
  height: 100vh;
}

